@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<IDEA_Collection.Models.Idea>


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var avatar = ViewBag.avata;
    var fullname = ViewBag.fulname;
    List<Comment> comments = ViewBag.ListComment;
    List<Like> like = ViewBag.ListLike;
    List<Unlike> unlike = ViewBag.ListUnlike;
}

<div class="tab-content" id="top-tabContent">
    <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline">
        <div class="row">
            <div class="col-xl-3 xl-40 col-lg-12 col-md-5 box-col-4">
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlSelect9"></label>
                    <select class="form-select digits" id="txtFilter" name="txtFilter">
                        <option value="" selected>Filter</option>
                        <option value="0">Latest</option>
                        <option value="1">Most Popular</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 xl-40 col-lg-12 col-md-5 box-col-4">
                <div class="default-according style-1 faq-accordion" id="accordionExample">
                </div>
            </div>
            <div class="col-xl-6 xl-60 col-lg-12 col-md-7 box-col-8">
                <div class="row">
                    @if (Model != null && Model.Count() > 0)
                    {
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="new-users-social">
                                            @if (Model[i].Anonymously == true)
                                            {
                                                <div class="media">
                                                    <img class="rounded-circle image-radius m-r-15" src="~/images/avatas/Anonymous.png" alt="">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 f-w-700">Anonymously</h6>
                                                        <p>@Model[i].CreatedDate</p>
                                                    </div>
                                                    <ul class="nav-menus">
                                                        <li class="onhover-dropdown">
                                                            <div class="notification-box"><i data-feather="more-vertical"></i><span class="badge rounded-pill badge-secondary"></span></div>
                                                            <ul class="notification-dropdown onhover-show-div">
                                                                <li>
                                                                    <a asp-controller="Idea" asp-action="Edit" asp-route-id="@Model[i].PostId" asp-area="">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a asp-controller="Idea" asp-action="Delete" asp-route-id="@Model[i].PostId" asp-area="">Delete</a>
                                                                </li>

                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="media">
                                                    <img class="rounded-circle image-radius m-r-15" src="~/images/avatas/@Model[i].Account.Avatar" alt="">
                                                    <div class="media-body">
                                                        <h6 class="mb-0 f-w-700">@Model[i].Account.FullName</h6>
                                                        <p>@Model[i].CreatedDate</p>
                                                    </div>
                                                    <ul class="nav-menus">
                                                        <li class="onhover-dropdown">
                                                            <div class="notification-box"><i data-feather="more-vertical"></i><span class="badge rounded-pill badge-secondary"></span></div>
                                                            <ul class="notification-dropdown onhover-show-div">
                                                                <li>
                                                                    <a asp-controller="Idea" asp-action="Edit" asp-route-id="@Model[i].PostId" asp-area="">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a asp-controller="Idea" asp-action="Delete" asp-route-id="@Model[i].PostId" asp-area="">Delete</a>
                                                                </li>

                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                            <p>
                                                @Model[i].Contents
                                            </p>
                                        </div>
                                        @if (@Model[i].Thumb != null)
                                        {
                                            <img class="img-fluid" alt="" src="~/images/ideas/@Model[i].Thumb">
                                        }
                                        <hr>
                                        <div class="timeline-content">
                                            <div class="like-content">
                                                <span>
                                                    <span>@like.Count(x => x.PostId == Model[i].PostId)</span>
                                                    <span><a asp-controller="Home" asp-action="LikePost" asp-route-id="@Model[i].PostId"><i class="fa fa-thumbs-o-up"></i></a></span>
                                                    <span>@unlike.Count(x => x.PostId == Model[i].PostId)</span>
                                                    <span><a asp-controller="Home" asp-action="UnlikePost" asp-route-id="@Model[i].PostId"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                    <span class="pull-right comment-number">
                                                        <span>
                                                            @comments.Count(x => x.PostId == Model[i].PostId)
                                                        </span>
                                                        <span><i class="fa fa-comments-o"></i></span>
                                                    </span>
                                                </span>
                                            </div>
                                            <hr>
                                            <div class="social-chat" id="records_table_comment-@Model[i].PostId">
                                            </div>
                                            <div class="text-center"><a href="javascript:void(0)" class="viewcomment" data-mapost="@Model[i].PostId">View Commnets</a></div>
                                            <div class="comments-box">
                                                <div class="media">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="~/images/avatas/@avatar">
                                                    }
                                                    else
                                                    {
                                                        <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="~/images/avatas/Anonymous.png">
                                                    }

                                                    <div class="media-body">
                                                        <div class="input-group text-box">
                                                            <input class="form-control input-txt-bx" id="contents-@Model[i].PostId" type="text" name="message-to-send" placeholder="Post Your commnets">
                                                            <div class="form-check checkbox mb-0">
                                                                <input class="anonymoust-@Model[i].PostId" id="checkbox3-@Model[i].PostId" type="checkbox">
                                                                <label class="anonymoust-@Model[i].PostId" for="checkbox3-@Model[i].PostId">Anonymoust</label>
                                                            </div>
                                                            <a class="sendComment" href="javascript:void(0)" data-mapostCmt="@Model[i].PostId" id="sendComment"><i data-feather="send"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <pager class="pager-container" list="@Model" asp-area="" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-controller="Home" asp-action="Index" asp-route-FilterID="@ViewBag.CurrentFilterID" />
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".sendComment").click(function () {
                var postId = $(this).attr("data-mapostCmt");
                var content = document.getElementById(`contents-${postId}`).value;
                var anonymoust = $(`.anonymoust-${postId}`).prop('checked');
                $.ajax({
                    url: '/Comment/CreateComment',
                    datatype: "json",
                    type: "POST",
                    data: {
                        idPost: postId,
                        content: content,
                        anonymoust: anonymoust
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            $(".viewcomment").click(function () {
                var postId = $(this).attr("data-mapost")
                $.ajax({
                    url: '/Comment/ViewComment',
                    datatype: "json",
                    type: "POST",
                    data: { id: postId },
                    async: true,
                    success: function (results) {
                        $(`#records_table_comment-${postId}`).html("");
                        $(`#records_table_comment-${postId}`).html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            jQuery("#txtFilter").change(function () {
                var filterID = jQuery(this).children(":selected").attr("value");
                filterID = parseFloat(filterID);
                $('#txtFilter option')
                    .removeAttr('selected');
                $("#txtFilter > [value=" + filterID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Home/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        filterID: filterID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

        });
        $('#modal-header').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.attr("href");
            var modal = $(this);
            // note that this will replace the content of modal-content ever time the modal is opened
            modal.find('.modal-content').load(url);
        });
    </script>
}

