@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<IDEA_Collection.Models.Idea>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QADepartment/Views/Shared/_QADepartmentLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="QADepartment" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">List of ideas : page @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                <option selected>Select catrgory</option>
                                <option value="0">All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="QADepartment" asp-controller="QAIdeas" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Add idea</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Anonymous</th>
                        <th>Content</th>
                        <th>Create Date</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.PostId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <h6 class="m-b-0 m-l-10">@item.Account.FullName</h6>
                                    </div>
                                </td>
                                <td>@item.Cat.CatName</td>
                                @if (item.Published == true)
                                {
                                    <td>Accept</td>

                                }
                                else
                                {
                                    <td>Wait Browsing</td>
                                }
                                @if (item.Anonymously == true)
                                {
                                    <td>Anonymous</td>
                                }
                                else
                                {
                                    <td>Not anonymous</td>
                                }
                                <td>@item.Contents</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="QADepartment" asp-controller="QAIdeas" asp-action="Details" asp-route-id="@item.PostId">Detail</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="QADepartment" asp-controller="QAIdeas" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="QADepartment" asp-controller="QAIdeas" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="QADepartment" asp-controller="QAIdeas" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
